:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */


  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  border: 1px solid blue;
  min-height: 100vh;
  width: 100vw;
  color: black;
  font-size: 12px;
}
